// This is an example env file. Copy this to .env and fill in the values.


DATABASE_URL= 

BETTER_AUTH_SECRET=
NEXTAUTH_SECRET=
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AUTH_URL=http://localhost:3000

GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
